

.top{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    line-height: 2.25;
    font-family: "Verdana", Verdana;
    font-size: 20px;
}

.profiles{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.profiles img{
        padding-bottom: 15px;
        padding-top: 15px;
}

.banner img{
    display: flex;
        flex-grow: 15;
        width: 60%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 50px;
}

body{
    background-color: #91dfa6;
}